.fullscreen-container{
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top:0;
    left:0;
    background-color: #FFA500;
    .search-bar-wrapper{
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center ;
        align-items: center;
        border-bottom: 1px solid #dcdcdc;
        .search-bar{
            width: 50%;
            height: 50%;
            border-radius: 16px;
            border:1px solid #dcdcdc;
            padding:5px;
        }
        .search-bar:focus{
            outline: none;
            border:2px solid #dcdcdc
        }
    }
    .notes-container{
        height: 90vh;
        width: 100%;
        
    }
}

.add-note{
    position: absolute;
    font-size: small;
    left: 5px;
    border-radius: 8px;
    border:1px solid #dcdcdc;
    padding:5px;
    background-color: greenyellow;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items:   center;
    cursor: pointer;
}



@media screen and (max-width: 450px) {
    .search-bar-wrapper{
        justify-content: space-around!important;
    }
    .add-note{
        position: unset!important;
    }
}



