.notes-container{
    display: block;
    height: 100%;
    width: 100vw;
    overflow-y:auto;
    margin:0;
}


.note-wrapper{
    width: 23vw;
    height:35vh;
    margin-left:10px;
    margin-top:15px;
    border:1px solid #F5F5DC ;
    display: inline-block;
    border-radius: 18px;
    background-color: #FFBF00;
    cursor: pointer;
}

.note-header{
    display: flex;
    padding:10px;
    width: 90%;
    height: 35%;
    justify-content: space-between;
    
}

.note{
    .note-content{
        display: flex;
        padding-left:10px;
        padding-right:10px;

    }
}

.add-note{
    width: 23vw;
    height:35vh;
    display: inline-flex;
    justify-content: center;
    padding:10px;
}

.note-title{
    min-width: 60px;;
}

textarea{
    width: 20vw;
    height: 20vh;
    display: inline;
}

.elipsa {
    white-space: nowrap; 
    width: 50%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

@media screen and (max-width: 450px) {
    .note-wrapper{
        margin-left: 5vw!important;
        margin-right: 5vw!important;
        width: 90vw!important;
    }
}

